/* GLOBALES */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

/* MENU| */
#menu a {
    font-size: 15px;
    /* font-weight: bold; */
    color: red;
}

#menu button {
    font-size: 15px;
    /* font-weight: bold; */
}

/* SLIDER DE IMAGENES */

/* .carousel-inner {
   height: 40rem;

} */


/* MEDIA QUERIES PANTALLA ANCHA */

/* MEDIA QUERIES PANTALLA SM */
@media (max-width:768px) {
  #intro {
      width: 90% !important;
  } 
}


/* MEDIA QUERIES PANTALLA EXTRA-SM */







/* FACILITIES */
#facilities {
    background-color: #13b5c3 ;
    padding: 30px 100px;
}

#facilities h1 {
    font-weight: 500;
    font-size: 34px;
    padding-bottom: 5px;
}

.title {
    text-align: center;
    padding: 25px 0px;
}

.title p {
    font-size: 25px;
}

.card-body {
    box-shadow: 0 0 20px 7px rgb(35, 88, 42);
}

.card-body a {
    color: #0c7f90;
    text-decoration: none;
    font-size: 15px;
    margin-top: auto;
    font-weight: 600;
}

.card-body a:hover {
    color: #f8280c;
    text-decoration: none;
}




.img-logo{
width: 40px;
text-decoration: none;
}

.fa-file-code  {
    color: #f8280c;
    font-size: 100px;
}


.fa-linkedin-in {
    color: #f8280c;
    font-size: 50px;
}
.fa-github  {
    color: #f8280c;
    font-size: 50px;
}